@import '../variables';

.sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  flex-basis: 40%;

  &__label {
    display: flex;
    align-items: center;
    flex-basis: 50%;

    svg {
      margin-right: 8px;
      transform: rotate(180deg);

      &.rotated {
        transform: rotate(0deg);
      }
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $gray-line;
      border-bottom: 1px dashed $gray-line;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.15s;

      &:hover {
        opacity: 1;
      }
    }
  }


  &__popup {
    position: absolute;
    right: 35px;
    margin-top: 30px;
    background-color: #7b8c8ae6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;
        color: #f6f6f6;

        &.active,
        &:hover {
          background-color: rgba(118, 181, 174, 0.5);
        }

        &.active {
          font-weight: bold;
          color: #f6f6f6;
        }
      }
    }
  }
}