@import 'fonts';
@import 'libs/normalize';
@import 'variables';


@import 'components/all';


body {
  background-color: #E7F6FF;
}


.wrapper {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  overflow: hidden;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}